.price-range-slider {
  padding: 20px 0;
  width: 200px;
  margin-left: 20px;
}

.price-values {
  position: relative;
  width: 100%;
  height: 20px;
}

.price-values span {
  position: absolute;
  font-size: 14px;
  color: #666;
  user-select: none;
  transform: translateX(-50%);
}

.price-values span:first-child {
  top: 14px;
  left: -8px;
  transform: translateX(-100%);
}

.price-values span:last-child {
  top: 14px;
  right: -8px;
  transform: translateX(100%);
}

.slider-container {
  position: relative;
  height: 20px;
}

.slider {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 4px;
  background: transparent;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}

.slider:disabled {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none; 
}

.slider:disabled::-webkit-slider-thumb {
  opacity: 0.8;
  cursor: not-allowed;
  background: #ccc;
}

.slider-track {
  position: absolute;
  height: 8px;
  top: -2px;
  background: rgb(13, 115, 125);
  pointer-events: none;
}

.slider-track.disabled {
  background: rgb(13, 115, 125, 0.5);
}

.slider-track-background {
  position: absolute;
  height: 8px;
  top: -2px;
  left: 0%;
  right: 0%;
  border-radius: 4px;
  background: rgb(46, 46, 51);
  pointer-events: none;
}
